<nav class="bg-gray-800 text-white px-4 py-3">

  <div class="container mx-auto flex justify-between items-center">
    <div class="text-lg font-bold">Elite Blog</div>

    <div class="hidden md:flex space-x-6">
      <a routerLink="/main-page/feed" class="hover:text-gray-300">Feed</a>
      <a *ngIf="checkRoleService.isAdmin() || checkRoleService.isEditor() || checkRoleService.isWriter()" routerLink="/main-page/create-post" class="hover:text-gray-300">Create Post</a>
      <a *ngIf="checkRoleService.isAdmin()" routerLink="/main-page/users-list" class="hover:text-gray-300">Users List</a>
    </div>

    <div class="relative">
      <button class="relative">
        🔔
        <span *ngIf="notifications.length" class="absolute top-0 right-0 bg-red-500 rounded-full w-4 h-4 text-xs text-white flex items-center justify-center">
          {{ notifications.length }}
        </span>
      </button>

      <div *ngIf="notifications.length" class="absolute right-0 mt-2 w-64 bg-white text-black shadow-lg rounded">
        <div *ngFor="let n of notifications" class="p-2 border-b text-sm">
          {{ n.message }}
        </div>
      </div>
    </div>

    <div class="hidden md:block space-x-3">
      <span class="hover:text-gray-300">Welcome, {{ user_name }}</span>
      <button class="btn-cancel" (click)="logout()">Logout</button>
    </div>

    <div class="md:hidden">
      <button (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>

  <div *ngIf="isMenuOpen" class="md:hidden mt-3 space-y-2">
    <span class="block text-yellow-300">Welcome, {{ user_name }}</span>
    <a routerLink="/main-page/feed" class="block hover:text-gray-300">Feed</a>
    <a *ngIf="checkRoleService.isAdmin() || checkRoleService.isEditor() || checkRoleService.isWriter()" routerLink="/main-page/create-post" class="block hover:text-gray-300">Create Post</a>
    <a *ngIf="checkRoleService.isAdmin()" routerLink="/main-page/users-list" class="block hover:text-gray-300">Users List</a>
    <button class="bg-red-500 px-3 py-1 rounded hover:bg-red-600" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="min-h-[calc(100vh-120px)] p-6">
   <router-outlet></router-outlet>
</div>

<footer class="bg-gray-900 text-white py-3 text-center">
  Developed with ❤️ by Akram Benaoun © {{ currentYear }}
</footer>
