<div class="w-auto h-auto m-8">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <h2 mat-dialog-title>Edit Role</h2>

  <mat-form-field appearance="fill" class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="firstName" [value]="firstName" disabled>
    </mat-form-field>

     <mat-form-field appearance="fill" class="w-full">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="lastName" [value]="lastName" disabled>
    </mat-form-field>

  <form [formGroup]="roleForm">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.roleType">
          {{ role.roleType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mt-4 flex justify-center gap-2">
      <button class="btn-cancel" (click)="close()">Cancel</button>
      <button class="btn-add" type="submit" (click)="submit()" [disabled]="roleForm.invalid">Save</button>
    </div>
  </form>
</div>
